		  </div>
		</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td class="footer">&copy; 2011 SkyTruth | Satellite images and digital mapping for environmental protection, education and advocacy.</td>
  </tr>
</table>  

</body>
</html>